.container_imagen_principal{
  position:relative;
  display:flex;
  width:auto;

  img{
    width:100%;
  }

  h2{
    position:absolute;
    font-size:3.7vw;
    font-family:"Tangerine", cursive;
    top:50%;
    left:65%;
    margin-right:7.5vw;
    color:#fff;
  }

  button{
    position:absolute;
    top:70%;
    left:65%;
    padding:15px 30px;
    font-size:1.5vw;
    background-color:#365388;
    color:#fff;
    border-radius:5px;
    cursor:pointer;

    &:hover{
      background-color:#a5b4cf;
      transition:all .3s ease-in-out;
    }
  }
}


.separador_oferta{
  h2{
    display:flex;
    width:100%;
    border-radius:10px;
    text-align:center;
    margin-top:5vw;
    padding:20px 40px;
    font-size:2.5vw;
    background:linear-gradient(to right,#a5b4cf,#fff);
  }
}


.container_promociones{
  display:flex;
  width:100%;
  height:20vw;
  margin-bottom:7vw;

  .card{
    margin:1vw 0 1vw 2vw;
    display:flex;
    flex-direction:column;
    background:#ddd;
        width:20vw;
        height:20vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    img{
      width:100%;
      height:100%;
      border-radius:10px;
    }

    h2{
      text-align:center;
      display:block;
      font-size:2vw;
    }

    button{
      background:#a5b4cf;
      color:#fff;
      border-radius:5px;
      cursor:pointer;

      &:hover{
        background:#cfd5e0;
        transition:all .3s ease-in-out;
      }
    }
  }
}


.container_separador{
  background:linear-gradient(to right,#a5b4cf,#fff);
  margin-top:5vw;
  display:flex;
  border-radius:10px;
  width:100%;
  text-align:center;

  h2{
    width:100%;
    display:flex;
    text-align:center;
    font-size:2.5vw;
    color:#000;
    padding:20px 40px;
  }
}


.container_productos_destacados{
  margin:2vw 5.4vw;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:4vw;
  row-gap:4vw;
  width:90%;
  text-align:center;

  img{
    width:100%;
    height:30vw;
    border-radius:10px;
    margin-bottom:1.5vw;

    &:hover{
      transform:scale(1.07);
      transition:all .3s ease-in-out;
    }
  }

  h2{
    font-size:3vw;
    color:#000;
    margin-bottom:20px;
  }
}


.container_producto{
  background-color:#365388;
  width:30%;
}


.carrusel{
  height:20vw;
  width:100%;
  margin:100px auto 0;
  overflow:hidden;

  ul{
    display:flex;
    padding:0;
    width:400%;
    animation:carrusel 30s infinite alternate ease-in-out;
  }

  li{
    width:100%;
    list-style:none;
    position:relative;

    img{
      width:100%;
      height:50vw;
    }
  }
}


.texto{
  position:absolute;
  text-align:justify;
  padding:0 5vw;
  top:5vw;
  font-size:2vw;
  color:#fff;

  h2{
    text-align:justify;
    font-size:4vw;
    margin-bottom:5vw;
    color:#fff;
  }
}


@keyframes carrusel{
  0%,20%{
    margin-left:0;
  }

  25%,45%{
    margin-left:-100%;
  }

  50%,70%{
    margin-left:-200%;
  }

  75%,100%{
    margin-left:-300%;
  }
}


.container_final{

  h2{
    font-size:3vw;
    color:#000;
  }

  &_tit{
    margin:2vw 5.4vw 0;
    display:flex;
    flex-direction:column;
    width:90%;
    text-align:center;
    background:#a5b4cf;
    border-radius:10px;
    padding:20px 40px;
  }

  &_informacion{
    border-radius:10px;
    margin:1vw 3.4vw;
    display:flex;
    flex-direction:column;
    width:90%;
    text-align:justify;
    padding-bottom:3vw;

    p{
      padding:2vw 5vw;
      font-size:1.5vw;
    }

    li{
      list-style:none;
      padding:0 5vw;
      font-size:1.5vw;
    }
  }

}